.stat-card {
    background-color: #e5e5e5;
    height: clamp(3rem, 1.8rem + 6vw, 9rem);
    width: clamp(4.5rem, 2.4rem + 10.5vw, 13rem);
    padding: 2% 4%;
    border-radius: 12px;
    @include tablet {
        border-radius: 20px;
    }
    @include desktop-lg {
        border-radius: 35px;
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    @include desktop-lg {
        margin-right: 40px;
    }
    p.numbers {
        color: #4e5150;
        font-size: 0.7rem;
        font-size: clamp(0.7rem, 0.4395rem + 1.3vw, 2rem);
    }

    p.label {
        color: #bdbdbd;
        font-size: 0.7rem;
        font-size: clamp(0.7rem, 0.4395rem + 1.3vw, 2rem);
    }
}